*{
	margin: 0;
	padding: 0;

}

.navbar{
	background-color: black;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content:space-between;
}

.menu li {
	float: left;
	margin-top: 15px;
/*	background-color: yellow;
*/	list-style: none;



}

.menu li a{
	text-decoration: none;
	color: red;
	padding: 10px 40px ;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;

}

.logo a{
	text-decoration: none;
	font-size: 40px;
    font-weight: 600;
    color: white;
	padding-left:30px 
}


.logo a strong{
	color: red;
}